@import "src/variables";

.search {
  display: flex;
  border-radius: 4px;
  background-color: $background-white-color;

  .searchBar {
    padding: 8px 0 8px 16px;
    border: 0;
    background: 0 0;
    width: 300px;
    font-size: 15px;
  }

  .searchIcon {
    margin: 0 11px;
    width: 20px;
    cursor: pointer;
  }
}
