.movie-banner {
  position: relative;
}

.estimation-movie-banner {
  position: absolute;
  display: block;
  width: 14%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  background-color: limegreen;
  border-radius: 5px;
  top: 24px;
  left: 8px;
  color: white;
}

.movie-banner__movie-img {
  width: 250px;
  margin: 15px;
  border-radius: 10px;
}
