$primary-color: #1f1f1f;
$font-color: #000;
$background-white-color: #fff;
$dark-color: rgba(242, 242, 242, 0.15);
$app-background-color: #f4f4f4f4;
$wrapper-width: 1280px;
$font-stack: Helvetica, sans-serif;
$light-color: white;
