$font-stack: Helvetica, sans-serif;
$primary-color: #1f1f1f;
$light-color: white;
$dark-color: black;
$wrapper-width: 1280px;

input {
  outline: none;
}

.header {
  background-color: $primary-color;
  height: 72px;
}

.heading {
  color: $light-color;
  padding: 0 40px;
}

.header-wrapper {
  display: flex;
  height: 72px;
  align-items: center;
  margin: 0 auto;
  max-width: $wrapper-width;
  padding: 0 30px;
  justify-content: space-between;
}

.header-group {
  display: flex;
  width: 562px;
  justify-content: space-between;
}
