@import "src/variables";

.actor-images-group {
  margin-left: 290px;
  padding: 0 45px;
}

.actor-card-container {
  display: flex;
  overflow: hidden;
  margin-right: 20px;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5vw;
}

.recommendations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  grid-gap: 1vw;
  padding: 15px 45px;
}

.recommendations-wrapper {
  display: flex;
  justify-content: center;
}

.movie-details-page__content-container {
  background-color: $background-white-color;
}

.recommendations-header {
  padding-left: 52px;
}

.movie-banner-info-container {
  display: flex;
  background-color: $background-white-color;
  padding: 15px 45px;
}

.movie-details-image-header,
.actor-top-cast-header,
.recommendations-header {
  margin: 100px 5px 20px;
}

div > h3 {
  font-weight: 600;
}
