@import "src/variables";

.mainPage {
  background-color: $background-white-color;

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1vw;
    margin: 0 20px;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1vw;
    margin: 0 20px;
  }

  .noResults {
    display: block;
    text-align: center;
    height: 60vh;
  }

  .link {
    text-decoration: none;
    color: black;
  }
}

@media screen and (max-width: 389px) {
  .link {
    display: flex;
    color: black;
    justify-content: center;
  }
}

@media (min-width: 389px) and (max-width: 715px) {
  .link {
    display: flex;
    color: black;
    justify-content: center;
  }
}
