.pages {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  .page,
  .currentPage {
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
  }

  .currentPage {
    color: firebrick;
    border: 2px solid lightgray;
    font-weight: bold;
  }
}
