@import "src/variables";

.actor-profile {
  background-color: $background-white-color;
}

.actor-details-group {
  display: flex;
  background-color: $background-white-color;
}

.actor-profile__known-by-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  grid-gap: 1vw;
}

.actor-profile__known-by {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.heading-known-by {
  padding: 15px 45px;
}
